<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yscn.knucommunity">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- GCM Permission -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.yscn.knucommunity.gcm.permission.C2D_MESSAGE" />

    <permission
        android:name="com.yscn.knucommunity.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <application
        android:name=".Util.ApplicationContextProvider"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBOmS6DbaCn9OygngWov4VVrQoaW4xXNkE" />

        <service android:name="com.yscn.knucommunity.GCM.GcmIntentService" />

        <receiver
            android:name=".GCM.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.yscn.knucommunity.gcm" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Activity.Splash"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.StudentGroundActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".Activity.MajorInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".Activity.MajorDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ClubInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".Activity.SchoolRestrauntActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".Activity.ClubDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.StudentCouncilActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".Activity.SchoolRestrauntDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".Activity.ShuttleBusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.LibraryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".Activity.MarketMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".Activity.MarketListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MarketListTheme" />
        <activity
            android:name=".Activity.CommunittyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CommunityTheme" />
        <activity
            android:name=".Activity.GreenLightListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GreenLightListTheme" />
        <activity
            android:name=".Activity.GreenLightDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".Activity.FreeBoardListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FreeboardListTheme" />
        <activity
            android:name=".Activity.FreeBoardDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".Activity.DeliveryFoodActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DeliveryFoodListTheme" />
        <activity
            android:name=".Activity.FaqListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FaqboardListTheme" />
        <activity
            android:name=".Activity.LinkActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.NoticeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".Activity.StudentInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".Activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.GreenLightReplyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.FaqDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.MeetingDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.MeetingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".Activity.MeetingWriteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.FreeBoardReplyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.CampusMapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.RiffleMapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AccountRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".Activity.BoardWriteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".Activity.ShareTaxiActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".Activity.ShareTaxiDetailActivity"
            android:clearTaskOnLaunch="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".Activity.PhoneNumberInputActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".Activity.ShareTaxiWriteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".Activity.StudentNotificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StudentInfoNotificationTheme" />
        <activity
            android:name=".Activity.SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SettingTheme" />
        <activity
            android:name=".Activity.AuthorDeviceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SettingTheme" />
        <activity
            android:name=".Activity.BeatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BeatTheme" />
        <activity
            android:name=".Activity.BeatDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BeatTheme" />
        <activity
            android:name=".Activity.BeatWriteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".Activity.ImageCollectionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".Activity.DeveloperInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".Activity.DeliveryFoodWriteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".Activity.BeatReplyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.ExternalLinkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".CustomView.BaseNavigationDrawerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
    </application>

</manifest>
