<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yscn.knucommunity">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- GCM Permission -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.yscn.knucommunity.gcm.permission.C2D_MESSAGE" />

    <permission
        android:name="com.yscn.knucommunity.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <application
        android:name=".Util.ApplicationContextProvider"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBOmS6DbaCn9OygngWov4VVrQoaW4xXNkE" />

        <service android:name="com.yscn.knucommunity.GCM.GcmIntentService" />

        <receiver
            android:name=".GCM.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.yscn.knucommunity.gcm" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Activity.Splash"
            android:label="@string/app_name"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/app_name" />
        <activity android:name=".Activity.StudentGroundActivity" />
        <activity android:name=".Activity.MajorInfoActivity" />
        <activity android:name=".Activity.MajorDetailActivity" />
        <activity android:name=".Activity.ClubInfoActivity" />
        <activity android:name=".Activity.SchoolRestrauntActivity" />
        <activity android:name=".Activity.ClubDetailActivity" />
        <activity
            android:name=".Activity.StudentCouncilActivity"
            android:theme="@style/NoActionBarTheme" />
        <activity android:name=".Activity.SchoolRestrauntDetailActivity" />
        <activity android:name=".Activity.ShuttleBusActivity" />
        <activity android:name=".Activity.LibraryActivity" />
        <activity android:name=".Activity.MarketMainActivity" />
        <activity android:name=".Activity.MarketDetailActivity" />
        <activity android:name=".Activity.CommunittyActivity" />
        <activity
            android:name=".Activity.GreenLightListActivity"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".Activity.GreenLightDetailActivity"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".Activity.FreeBoardListActivity"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".Activity.FreeBoardDetailActivity"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".Activity.DeliveryFoodActivity"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".Activity.FaqListActivity"
            android:theme="@style/NoActionBarTheme" />
        <activity android:name=".Activity.LinkActivity" />
        <activity
            android:name=".Activity.NoticeActivity"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".Activity.StudentInfoActivity"
            android:theme="@style/NoActionBarTheme" />
        <activity android:name=".Activity.LoginActivity" />
        <activity
            android:name=".Activity.GreenLightReplyActivity"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.FaqDetailActivity"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.MeetingDetailActivity"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.MeetingActivity"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".Activity.MeetingWriteActivity"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.FreeBoardReplyActivity"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".Activity.CampusMapActivity" />
        <activity android:name=".Activity.RiffleMapActivity" />
        <activity android:name=".Activity.AccountRegisterActivity" />
        <activity
            android:name=".Activity.BoardWriteActivity"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="stateHidden" />
    </application>

</manifest>
